@if(addProductService.updatingProduct()){
<update-product-component />
}
<main class="max-w-4xl mx-auto">
  @if(productService.loadingProducts()){
  <div class="flex justify-center items-center h-[100px]">
    <p>Loading...</p>
  </div>
  } @else {
  <div class="m-2 mt-8 gap-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    @for(product of productService.productsData?.products; track product._id){
    <single-product-component [productData]="product" />
    }
  </div>
  }

  <div>
    @if (productService.productsData){
    <app-pagination
      [currentPage]="page"
      [totalPages]="productService.productsData.totalPages"
    />
    }
  </div>
</main>
