<main class="max-w-2xl mx-auto">
  @if(loadingProduct()){
  <div class="flex justify-center items-center h-[100px]">
    <p>Loading...</p>
  </div>
  } @else if(product) {
  <div class="m-2">
    <div class="group rounded-2xl p-4 shadow-xl flex gap-4">
      <div class="relative overflow-hidden rounded-md w-[150px]">
        <img class="transition-transform duration-200" [src]="product.image" />
        <div
          class="absolute top-1 left-1 p-2 bg-gray-600/70 font-bold rounded-md text-white"
        >
          @if (product.discount){
          <p>
            <span class="line-through">
              {{ "$" + product.price.toFixed(2) }}
            </span>
            {{ " " + product.discount }}% OFF
          </p>
          <p>
            {{
              "$" +
                (
                  product!.price -
                  product!.price * (product.discount / 100)
                ).toFixed(2)
            }}
          </p>

          } @else {
          {{ "$" + product.price }}
          }
        </div>
      </div>
      <div class="flex-1">
        <div class="font-semibold mt-2 justify-between">
          <p>{{ product.name }}</p>
          <div class="text-sm text-gray-600 mt-2">
            {{ product.description }}
          </div>
          <div class="flex items-center gap-2 mt-4">
            <select
              #items
              class="bg-amber-200 p-2 px-4 rounded-2xl outline-amber-600"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <button
              [disabled]="cartService.addingToCart()"
              (click)="cartService.addToCart(product._id!, items.value)"
              class="p-2 bg-amber-500 rounded-2xl hover:opacity-60 cursor-pointer w-[150px]"
            >
              {{ cartService.addingToCart() ? "Adding..." : "Add to Cart" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="flex justify-center items-center h-[100px]">
    <p>No product found...</p>
  </div>
  }
</main>
