<main class="max-w-2xl mx-auto">
  @if(loadingProduct()){
  <div class="flex justify-center items-center h-[100px]">
    <p>Loading...</p>
  </div>
  } @else if(product) {
  <div class="m-2">
    <div class="group rounded-2xl p-4 shadow-xl">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="scale-100 transition-transform duration-200"
          [src]="product.image"
        />
        <div
          class="absolute top-1 left-1 p-2 bg-gray-600/70 font-bold rounded-md text-white"
        >
          @if (product.discount){
          <p>
            <span class="line-through">
              {{ "$" + product.price.toFixed(2) }}
            </span>
            {{ " " + product.discount }}% OFF
          </p>
          <p>
            {{
              "$" +
                (
                  product!.price -
                  product!.price * (product.discount / 100)
                ).toFixed(2)
            }}
          </p>

          } @else {
          {{ "$" + product.price }}
          }
        </div>
      </div>
      <div>
        <div class="font-semibold mt-2 flex justify-between">
          <p>{{ product.name }}</p>
          <button
            class="p-2 bg-amber-500 rounded-2xl hover:opacity-60 cursor-pointer w-[100px]"
          >
            Buy
          </button>
        </div>
        <div class="text-sm text-gray-600 mt-2">{{ product.description }}</div>
      </div>
    </div>
  </div>
  } @else {
  <div class="flex justify-center items-center h-[100px]">
    <p>No product found...</p>
  </div>
  }
</main>
