<div class="flex-1 flex flex-col h-full">
  <div class="p-3 flex gap-2 items-center border-b border-b-slate-300 header">
    <button
      (click)="chatService.changePage('home')"
      class="p-2 rounded-full shadow-md cursor-pointer hover:opacity-60 size-10"
    >
      <fa-icon [icon]="faArrowLeft" />
    </button>
    <p class="font-semibold text-lg">
      {{ chatService.userToChat.name }}
      {{
        chatService.userToChat._id === authService.currentUser()?._id
          ? "(me)"
          : ""
      }}
      @if(isUserOnline(chatService.userToChat._id!)){<span
        class="text-sm text-green-500"
        >Online</span
      >} @else {
      <span class="text-sm text-red-500">Offline</span>
      }
    </p>
  </div>
  <div class="flex-1 overflow-y-auto p-2 space-y-2 flex flex-col">
    @for(message of chatService.messages; track message._id){
    <div class="p-2 border rounded-2xl border-slate-200 shadow-md">
      {{ message.text }}
    </div>
    }
  </div>

  <div class="border-t border-t-slate-300 p-3 flex items-center gap-2">
    <textarea
      #input
      placeholder="Type a message..."
      class="border flex-1 border-amber-500 rounded-2xl resize-none p-1 px-3 placeholder-slate-400 outline-amber-600"
    ></textarea>
    <button
      (click)="sendMessage(input.value); input.value = ''"
      class="p-2 rounded-full shadow-md cursor-pointer hover:opacity-60 size-10"
    >
      <fa-icon [icon]="faPaperPlane" />
    </button>
  </div>
</div>
