<div class="flex-1 flex flex-col h-full">
  <div class="p-3 flex gap-2 items-center border-b border-b-slate-300 header">
    <button
      (click)="chatService.changePage('home')"
      class="p-2 rounded-full shadow-md cursor-pointer hover:opacity-60 size-10"
    >
      <fa-icon [icon]="faArrowLeft" />
    </button>
    <p class="font-semibold text-lg">
      {{ chatService.userToChat.name }}
      {{
        chatService.userToChat._id === authService.currentUser()?._id
          ? "(me)"
          : ""
      }}
      @if(isUserOnline(chatService.userToChat._id!)){<span
        class="text-sm text-green-500"
        >Online</span
      >} @else {
      <span class="text-sm text-red-500">Offline</span>
      }
    </p>
  </div>
  <div #messages class="flex-1 overflow-y-auto p-2 space-y-3 flex flex-col">
    @if (this.chatService.loading()){
    <div class="text-center min-h-full flex items-center justify-center">
      Loading messages...
    </div>
    } @else { @for(message of chatService.messages; track message._id){
    <div class="">
      @if(isMyMessage(message.sender)){
      <div class="flex justify-end">
        <div
          class="p-4 shadow-md rounded-2xl bg-blue-300 border border-slate-200"
        >
          <p>{{ message.text }}</p>

          <p class="mt-2 text-sm text-slate-500">
            {{ formatCreatedAt(message.createdAt) }}
          </p>
        </div>
      </div>
      } @else {
      <div class="flex justify-start">
        <div class="p-4 shadow-md rounded-2xl border border-slate-200">
          <p>{{ message.text }}</p>
          <p class="mt-2 text-sm text-slate-500">
            {{ formatCreatedAt(message.createdAt) }}
          </p>
        </div>
      </div>
      }
    </div>
    } }
    <div #latest></div>
  </div>

  <div class="border-t border-t-slate-300 p-3 flex items-center gap-2">
    <textarea
      #input
      placeholder="Type a message..."
      class="border flex-1 border-amber-500 rounded-2xl resize-none p-1 px-3 placeholder-slate-400 outline-amber-600"
    ></textarea>
    <button
      (click)="sendMessage(input.value); input.value = ''"
      class="p-2 rounded-full shadow-md cursor-pointer hover:opacity-60 size-10"
    >
      <fa-icon [icon]="faPaperPlane" />
    </button>
  </div>
</div>
