@if(confirmLogout()){
<div class="fixed z-30 inset-0 flex items-center justify-center bg-black/20">
  <div
    class="m-2 flex flex-col items-center justify-center shadow-md p-4 rounded-xl border border-slate-200 bg-white"
  >
    <h2 class="text-xl">Are you sure to log out?</h2>
    <div>
      <div class="flex justify-start gap-2 items-center mt-2">
        <button
          (click)="confirmYes()"
          class="bg-blue-500 p-2 rounded-2xl mt-2 cursor-pointer hover:opacity-60 font-semibold text-white px-6"
        >
          Yes
        </button>
        <button
          (click)="confirmNo()"
          class="bg-blue-500 p-2 rounded-2xl mt-2 cursor-pointer hover:opacity-60 font-semibold text-white px-6"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
} @if (addProductService.creatingNewProduct()){
<add-new-product-component />
}

<header
  class="container mx-auto p-3 m-2 border-b border-b-amber-200 shadow-xl md:rounded-l-xl md:rounded-r-xl sticky inset-x-0 top-0 backdrop-blur-md bg-white/30 z-20"
>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-amber-500 text-2xl">
      <a routerLink="/">Shop</a>
    </h1>

    @if(authService.currentUser()) {
    <div class="hidden md:flex flex-1 justify-center">
      <search-component />
    </div>
    }
    <div class="flex items-center gap-2">
      @if(authService.currentUser()){
      <div class="border-r-[2px] border-r-amber-600">
        <a
          routerLink="/cart"
          routerLinkActive="shadow-md"
          class="hover:shadow-md rounded-full cursor-pointer p-2 flex items-center justify-center gap-1 mr-2"
        >
          <span
            class="bottom-[28px] p-1 px-4 text-white bg-amber-500 rounded-2xl shadow-md shadow-amber-100"
            >{{ cartService.cartItemsCount || 0 }}</span
          >

          <fa-icon [icon]="faCartShopping" />
        </a>
      </div>
      <div
        class="border rounded-2xl border-amber-600 px-2 flex items-center gap-2 py-1"
      >
        @if(authService.currentUser()?.role === "admin"){
        <button
          (click)="addProductService.openNewProductForm()"
          class="text-lg hover:shadow-md size-10 rounded-full cursor-pointer hover:opacity-60 font-semibold"
        >
          <fa-icon [icon]="faAdd" />
        </button>
        }
        <p class="font-semibold text">
          {{ authService.currentUser()?.role?.toUpperCase() }}
        </p>
      </div>
      }
      <div class="flex group relative cursor-pointer">
        <button
          (click)="toggleAccountDetails()"
          class="hover:shadow-md rounded-full cursor-pointer"
        >
          <img class="rounded-full size-10" src="profile-pic.jpg" />
        </button>

        @if (accountDetailsShown()){

        <div
          class="absolute top-full p-4 bg-white shadow-xl rounded-xl right-0 z-20 min-w-[150px]"
        >
          @if (authService.currentUser()){
          <p class="font-semibold">
            {{ authService.currentUser()?.name }}
          </p>
          <p class="text-gray-600 text-sm">
            {{ "@" + authService.currentUser()?.username }}
          </p>
          <p class="text-gray-600 text-sm">
            {{ authService.currentUser()?.email }}
          </p>
          <button
            (click)="openConfirm()"
            class="bg-blue-500 p-2 rounded-2xl mt-2 cursor-pointer hover:opacity-60 font-semibold text-white"
          >
            Log out
          </button>
          } @else {
          <a
            routerLink="/login"
            (click)="toggleAccountDetails()"
            class="text-center bg-blue-500 block p-2 rounded-2xl mt-2 cursor-pointer hover:opacity-60 font-semibold text-white w-[100px]"
          >
            Log in
          </a>
          }
        </div>
        }
      </div>
    </div>
  </div>
</header>
