@if(addProductService.updatingProduct()){
<update-product-component />
}
<main class="max-w-4xl mx-auto">
  @if(productService.loadingProducts()){
  <div class="flex justify-center items-center h-[100px]">
    <p>Loading...</p>
  </div>
  } @else {
  <div>
    @if(authService.currentUser){
    <div class="md:hidden flex justify-center mt-8 mb-8">
      <search-component />
    </div>
    <div class="m-2 text-xl">
      Search result for
      <span class="font-semibold italic">{{ productService.query }}</span>
    </div>
    <div class="m-2 mt-8 gap-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      @for(product of productService.productsData?.products; track product._id){
      <single-product-component [productData]="product" />
      }
    </div>
    <div>
      @if (productService.productsData){
      <app-pagination
        [currentPage]="page"
        [totalPages]="productService.productsData.totalPages"
        navigationPath="/search"
      />
      }
    </div>
    } @else {
    <div
      class="text-amber-600 font-semibold h-[100px] flex items-center justify-center"
    >
      <div>
        <p>
          You have to login first. Go to
          <a class="underline font-bold" routerLink="/login">Login</a> page
        </p>
      </div>
    </div>
    }
  </div>
  }
</main>
