<main class="flex-col fixed inset-0 z-50 bg-black/60">
  <div
    class="m-2 max-w-3xl mx-auto h-full flex flex-col p-4 bg-white rounded-md relative"
  >
    <a
      routerLink="/"
      class="absolute p-2 rounded-full shadow-md cursor-pointer hover:opacity-60 size-10 right-2 flex items-center justify-center"
    >
      <fa-icon [icon]="faClose" />
    </a>
    <div class="flex flex-col h-full">
      @if(chatService.page() === "chat"){
      <messages-component class="flex flex-col h-full" />
      } @else {
      <div
        class="p-3 md:min-w-[200px] lg:min-w-[300px] space-y-2 h-full overflow-y-auto"
      >
        <div class="mb-3 border-b p-2 border-b-slate-300">
          <p>{{ getNumberOnlineUsers() }} online users</p>
        </div>
        @for(user of chatService.usersData?.users; track user._id){
        <div
          (click)="chatService.changePage('chat'); setUserToChat(user)"
          class="p-2 hover:opacity-70 cursor-pointer bg-slate-200 rounded-md"
        >
          <p class="font-semibold">
            {{ user.name }}
            {{ user._id === authService.currentUser()?._id ? "(me)" : "" }}
            @if(isUserOnline(user._id!)){<span class="text-sm text-green-500"
              >Online</span
            >} @else {
            <span class="text-sm text-red-500">Offline</span>
            }
          </p>
        </div>
        }
      </div>
      }
    </div>
  </div>
</main>
